$blanco: #fff;
$default_font: 'Muli', sans-serif;
$gris_background: rgba(255, 255, 255, 0.1);

@mixin background($url){
    background: $url;
    background-size: cover;
  }
@mixin flex($direction, $horizontal, $vertical){
    display: flex;
    flex-direction: $direction;
    justify-content: $horizontal;
    align-items: $vertical;
  }
body {
    @include background(url('https://imgur.com/QKY8MpS.jpg'));
    background-size: cover;
    font-family: $default_font;
    margin: 0px;
}

/*HEADER STYLE*/
.header__container {
    @include flex(initial,initial,center);
    position:relative;
    height: 100px;
    top: 0px;
    width: 100%;
}
.header__img{
    margin-left: 30px;
    width: 145px;
}
.header__img--rocket{
    margin-right: 30px;
    margin-left: 15px;
    width: 33px;
}
/*LOGIN STYLE*/
.login{
    @include flex(column,center,center);
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.login__container{
    background-color: $gris_background;
    box-shadow: 1px 2px 11px 7px #ffff;
    border-radius: 40px;
    color: $blanco;
    @include flex(column,space-around,initial);
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
}

.login__container--form{
    @include flex(column,initial,initial);
    label{
        font-size: 14px;
    }
}

.login__container--remember-me{
    color: $blanco;
    @include flex(initial,space-between,initial);
    margin-top: 10px;
    a{
        color: $blanco;
        font-size: 14px;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }

}

.login__container--social-media {
    div{
        @include flex(initial,initial,center);
        font-size: 14px;
        margin-bottom: 10px;
        img{
            width:30px;
            margin-right: 10px;
        }
    }
    
}

.login__container--register{
    font-size: 15px;
    a {
        color:$blanco;
        font-weight: bold;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
}

.input{
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid $blanco;
    font-size: 16px;
    font-family: $default_font;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}
::placeholder{
    color: $blanco;
}

.button{
    background-color:$gris_background;
    border: none;
    border-radius: 25px;
    color: $blanco;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family:$default_font;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}
/*FOOTER STYLE*/
.footer{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    a{
        color:$blanco;
        cursor: pointer;
        font-size: 14px;
        padding-left: 30px;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
}

  @media only screen and (max-width: 600px){
        .login__container{
            background-color: transparent;
            box-shadow: none;
            padding: 0px;
            width: 100%;
        }

          body{
              @include background(url('https://imgur.com/QKY8MpS.jpg'));
              overflow-x: hidden !important;
          }
  }

